<!DOCTYPE html>
<html>
<head>
    <base href='/' />
    <title>Lifeboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-xs-12'>
                <div class='jumbotron'><h1>Lifeboard</h1></div>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-2'>
                <ul class='nav nav-stacked'>
                    <li *ngFor='let board of boards'><a routerLink='/dashboard/{{board.id}}'>{{board.name}}</a></li>
                    <li><md-icon>add</md-icon> New Dashboard</li>
                </ul>
            </div>
            <div class='col-xs-10'>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div clss='row'>
            <div class='col-xs-12'>
                FOOTER
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>